body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 0rem;
  background-color: white;
  padding: 0.2em;
  background-color:#373E98;
  color:white;
}

#mainheader {
  background-color: #fee36e;
  margin: 0.5rem;
}
img.logo {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  height: 35px;
}

#message {
  color: black;
}

ul {
  list-style-type: none;
  margin-top: 0px;
  padding: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/*Main Menu */
.navigation-desktip > li > a {
  display: none;
}

.navigation-desktop img {
  display: none;
}

.navigation-desktop {
  display: none;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #fee36e;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: none;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active { 
  color: white;
}

.menuHeader {
  display: flex;
  background-color:#fee36e;
}

.menuHeader ul li {
  display: none;
}

#navcontainer a:hover {
  background-color: #369;
  color: #fff;
}

Main Content h1,
h2,
h3,
h4, 
h5 {
  display: grid;
  background-color: #fee36e;
  color: black;
  text-align:center;
  border:black;
  padding:0.2rem;
  border-radius:15%;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

p {
  color: white;
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  margin: 0.1em;
}

.myForm {
  display: block;
  background-color: lightgrey;
  padding: 1em;
  margin: 0.5em;
  border-radius: 10%;
  outline: #333;
  opacity: 90%;
  color:black;
}

.FAQ1,.FAQ2,.FAQ3 {
  color:white;
}

.resourceList li a {
  color:white;
}

input {
  display: block;
}

#submit {
  color:black;
  background-color: #fee36e;
}

#submit:hover {
  background-color:white;
}

footer {
  display: flex;
  padding: 1em;
  background: #fee36e;
}

footer p {
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: space-evenly;
  text-align:center;
  text-decoration: none;
}

.meetingMinutes {
  color:white;
}

.meetingDates {
  color:black;
}

div#display {
  color:black;
}

/* Medium Query */
@media (min-width: 768px) {
  body {
    display: grid;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-top: 0rem;
    background-color: #373E98;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end:12;
    column-fill:balance;
  }

  #mainheader {
    display: block;
    background-color: transparent;
    margin: 0.5rem;
    grid-column-start:1;
    grid-column-end: 3;
    column-width: 2;
    width:100%;
  }

  #myLinks {
    display: block;
    margin: 0.5rem;
    grid-column: 1 / span 2;
    column-width: 2;
  }

  img {
    background-color: none;
    display: flex;
  }

  .navigation-desktop > li > a {
    display: none;
  }

  .navigation-desktop img {
    display: none;
  }

  Main Menu
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    background: none;
  }
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Style the active link (or home/logo) */
  .active {
    background-color: #fee36e;
    color: white;
  }

  .menuHeader {
    background-color: #fee36e;
  }

  h1 {
    display: grid;
    grid-column-start: 0;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .h1p1 {
    display:grid;
    grid-column-start: 1%;
    grid-column-end: 50%;
    grid-row-start: 3;
    grid-row-end: 4;
    padding:0.2rem;

  }

  h2 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .myForm {
    text-align:center;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 9;
  }

  .form-group {
    text-size-adjust: 90%;
  }

  h3 {
    display: grid;
    grid-column-start: 0;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    text-size-adjust: auto;
  }

  .FAQ1 {
    color:white;
    display: grid;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 0;
    grid-column-end: 2;
    padding:0.2rem;
  }

  .FAQ2 {
      color:white;
      display: grid;
      grid-row-start: 6;
      grid-row-end: 7;
      grid-column-start: 0;
      grid-column-end: 2;
      padding:0.2rem;
  }

  .FAQ3 {
    color:white;
    display: grid;
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 0;
    grid-column-end: 2;
    padding:0.2rem;
  }


  h4 {
    display: grid;
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 0;
    grid-column-end: 2;
    margin:1rem;
  }

  .resourceList {
    display: grid;
    grid-row-start: 9;
    grid-row-end: 11;
    grid-column-start: 0;
    grid-column-end: 2;
    padding:0.2rem;
  }

  .resourceList li {
    padding:0.2rem;
  }

  .weather {
    display:grid;
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 2;
    grid-column-end: 3;
    padding:0.5rem;
  }

  .temp {
    padding:0.2rem;
  }

  .description {
    padding:0.2rem;
  }

  .humidity {
    padding: 0.2rem;
  }

  .wind {
    padding: 0.2rem;
  }

  .card {
    display:grid;
    grid-row-start: 11;
    grid-row-end: 12;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 0.1rem;
  }

  p {
    display: grid;
    grid-column: 1 / 4 span 1;
  }

  #message {
    top: 17%;
    left: 52%;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px; /* Height of the footer */
    background: #fee36e;
  }

  footer p {
    display: flex;
    color: black;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
  }
}

/* Large Media Query */
@media (min-width: 1024px) {
  body {
    display: grid;
    margin:1em;
    padding:0.5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-top: 0rem;
    background-color: #373E98;
    grid-column-start: 1;
    grid-column-end:3;
    grid-row-start: 1;
    grid-row-end:9;
    grid-template-columns: auto auto auto;
  }

  #mainheader {
    display: grid;
    background-color: #fee36e;
    margin: 0.5rem;
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:2;
  }

  img {
    display: flex;
  }

  /*Main Menu*/
  /* Style the navigation menu */

  .navigation-desktop {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end:2;
    width: 100%;

  }

  .navigation-desktop ul {
    display: block;
    float: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:1;
    grid-row-end:3;
    column-span:all;
  }

  .navigation-desktop li {
    color:white;
    float: left;
  }

  .navigation-desktop li a {
    color:black;
    display: inline-block;
    padding: 0.4rem 4rem;
  }

  .navigation-desktop img {
    display: block;
    height: 6%;
    margin: 5px;
  }

  /* Hide Hamburger Menu */
  .topnav {
    display: none;
    overflow: hidden;
    background-color: #333;
    position: relative;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    display: none;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    display: none;
    background: none;
  }

  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    display: none;
    background-color: #ddd;
    color: black;
  }

  /* Style the active link (or home/logo) */
  .active {
    display: none;
    color: white;
  }

  .menuHeader {
    display: none;
    grid-row: 1 / 8;
    background-color: #fee36e;
    border-radius:1em;
    grid-column-start:0;
    grid-column-end:3;
  }

  h1
  { display: grid;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .h1p1 {
    display: grid;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end:4;
  }

  h2 {
      display: grid;
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;
  }

  .myForm {
    display: grid;
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    padding:0.1em;
  }

  #message {
    top: 17%;
    left: 38%;
  }

  h3 {
    display: grid;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start:5;
    grid-row-end:6;
  }

  .FAQ1 {
    display:grid;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start:6;
    grid-row-end:7;
    margin-top: 0.2rem;
  }
  .FAQ2 {
    display:grid;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start:7;
    grid-row-end:8;
  }

  .FAQ3 {
      display:grid;
      grid-column-start: 0;
      grid-column-end: 1;
      grid-row-start:8;
      grid-row-end:9;
  }

  h4 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .resourceList {
    display: grid;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .weather.loading  {
    display:grid;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .weather {
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
  }
    
  .card {
      display:grid;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start:7;
      grid-row-end:8;
      background:00000d0;
      color:white;
      padding:1em;
      border-radius:20px;
      font-family: 'Open Sans', sans-serif;
      background-image: "https://source.unsplash.com/1600x900/?" ' + city + '" ;
    }
  
    button {
      outline:none;
      cursor:grab;
      color:white;
      transition: 0.3s ease-in-out;
    }

    button:hover {
      color:aquamarine;
    }

    .description {
      text-transform: capitalize;
    }

    .city {
      color:black;
    }
    .temp {
      margin:0;
      margin-bottom: 0.2em;
      color:white;
    }

    .description, .humidity, .wind + .search {
      color:white;
    }

    .weather.loading:after {
      visibility: hidden;
      content: "Loading...";
      color: white;
      position: absolute;
      top: 0;
    }
  
    .input-search-bar {
      border:none;
      outline:none;
      padding: 0.6em;
      border-radius: 12px;
      background: #7c7c7c2b;
      font-family: 'Open Sans', sans-serif;
      font-size: 110%; 
    }

    .current_date {
      position:absolute;
      color:purple;
      grid-row-start: 8;
      grid-row-end: 9;
      grid-column-start: 1;
      grid-column-end: 2;
  } 

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px; /* Height of the footer */
    background: #fee36e;
  }

  footer p {
    display: flex;
    color: black;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
  }
}