body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 0rem;
  background-color: white;
  padding: 0.2em;
}

#mainheader {
  background-color: lightblue;
  margin: 0.5rem;
}
img.logo {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  height: 35px;
}

#message {
  color: red;
}

ul {
  list-style-type: none;
}

/*Main Menu */
.navigation-desktip > li > a {
  display: none;
}

.navigation-desktop img {
  display: none;
}

.navigation-desktop {
  display: none;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: none;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D; 
  color: white;
}

.menuHeader {
  display: flex;
  background-color: rgb(107, 152, 172);
}

.menuHeader ul li {
  display: none;
}

#navcontainer a:hover {
  background-color: #369;
  color: #fff;
}

Main Content h1,
h2,
h3,
h4 {
  display: flex;
  background-color: white;
  border: black;
}

p {
  color: black;
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  margin: 0.1em;
}

form {
  display: block;
  background-color: lightblue;
  padding: 1em;
  margin: 0.5em;
  border-radius: 10%;
  outline: #333;
  opacity: 90%;
}

input {
  display: block;
}

#submit {
  background-color: #00000012;
}

.FAQ1,
.FAQ2,
.FAQ3 {
  padding: 0.1em;
}

footer {
  display: flex;
  padding: 1em;
  background: #6cf;
}

footer p {
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: space-evenly;
}

/* Medium Query */
@media (min-width: 768px) {
  body {
    display: grid;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-top: 0rem;
    background-color: white;
    grid-template-columns: 50% 50%;
  }

  #mainheader {
    display: block;
    background-color: lightblue;
    margin: 0.5rem;
    grid-column: 1 / span 2;
    column-width: 2;
  }

  #myLinks {
    display: block;
    margin: 0.5rem;
    grid-column: 1 / span 2;
    column-width: 2;
  }

  img {
    background-color: none;
    display: flex;
  }

  .navigation-desktip > li > a {
    display: none;
  }

  .navigation-desktop img {
    display: none;
  }

  Main Menu
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    background: none;
  }
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Style the active link (or home/logo) */
  .active {
    /* background-color: #04AA6D; */
    color: white;
  }

  .menuHeader {
    grid-row: 1 / 1;
    background-color: lightseagreen;
  }

  h1 p {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  h2 {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  h3 {
    display: grid;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .FAQ1 {
    display: grid;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .FAQ2 {
    display: grid;
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .FAQ3 {
    display: grid;
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  h4 .resourcelist {
    display: grid;
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  ul {
    margin-top: 0px;
    padding: 0px;
  }

  p {
    display: grid;
    grid-column: 1 / 4 span 1;
  }

  #message {
    top: 17%;
    left: 52%;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px; /* Height of the footer */
    background: #6cf;
  }

  footer p {
    display: grid;
    align-items: center;
    list-style-type: none;
    color: #333;
    padding-left: 0.7em;
    padding-right: 0.7em;
  }
}

/* Large Media Query */
@media (min-width: 1024px) {
  body {
    display: grid;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-top: 0rem;
    background-color: white;
    grid-template-columns: 30% 35% 30%;
  }

  #mainheader {
    display: grid;
    background-color: #1db3ee;
    margin: 0.5rem;
    grid-column: 1 / span 4;
  }

  img {
    display: flex;
  }

  /*Main Menu*/
  /* Style the navigation menu */

  .navigation-desktop {
    display: grid;
    grid-column-start: 0;
    grid-column-end: 3;
    width: 100%;
  }

  .navigation-desktop ul {
    display: block;
    float: left;
  }

  .navigation-desktop li {
    float: left;
  }

  .navigation-desktop li a {
    display: inline-block;
    padding: 0.4rem 4rem;
  }

  .navigation-desktop img {
    display: block;
    height: 6%;
    margin: 5px;
  }

  /* Hide Hamburger Menu */
  .topnav {
    display: none;
    overflow: hidden;
    background-color: #333;
    position: relative;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    display: none;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    display: none;
    background: none;
  }

  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    display: none;
    background-color: #ddd;
    color: black;
  }

  /* Style the active link (or home/logo) */
  .active {
    display: none;
    color: white;
  }

  .menuHeader {
    display: none;
    grid-row: 1 / 1;
    background-color: green;
  }

  h1,
  p {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  h2 {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 0.2rem;
  }

  form {
    display: grid;
    grid-row-start: 3;
    grid-row-end: 11;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  #message {
    top: 17%;
    left: 38%;
  }

  h3 {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .FAQ1 {
    display: grid;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .FAQ2 {
    display: grid;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .FAQ3 {
    display: grid;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 4;
  }

  h4 {
    display: grid;
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .resourceList {
    display: grid;
  }
    
    .card {
      background:00000d0;
      color:white;
      padding:1em;
      border-radius:20px;
      font-family: 'Open Sans', sans-serif;
      background-image: "https://source.unsplash.com/1600x900/?" ' + city + '" ;
    }
  
    button {
      outline:none;
      cursor:grab;
      color:white;
      transition: 0.3s ease-in-out;
    }

    button:hover {
      color:aquamarine;
    }

    .description {
      text-transform: capitalize;
    }

    h1.temp {
      margin:0;
      margin-bottom: 0.2em;
    }

    .weather.loading:after {
      visibility: visible;
      content: "Loading...";
      color: white;
      position: absolute;
      top: 0;
    }
  
    .input-search-bar {
      border:none;
      outline:none;
      padding: 0.6em;
      border-radius: 12px;
      background: #7c7c7c2b;
      font-family: 'Open Sans', sans-serif;
      font-size: 110%; 
    }

    .current_date {
      position:absolute;
      color:purple;
      grid-row-start: 8;
      grid-row-end: 9;
      grid-column-start: 1;
      grid-column-end: 2;
  } 

  ul {
    margin-top: 0px;
    padding: 0px;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px; /* Height of the footer */
    background: #6cf;
  }

  footer p {
    display: flex;
    color: black;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}